<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Insert title here</title>
    </head>
    <body>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Lançamento </th>
                    <th scope="col"> Produtora</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="anime : ${listarAnime}">
                    <td th:text="${anime.nome}"> </td>
                    <td th:text="${anime.lancamento}"> </td>
                    <td th:text="${anime.produtora}"> </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{delete/{id}(id = ${anime.id})}"> <button type="button" class="btn btn-danger">Excluir</button></a></td>
                    <td> <a class="btn btn-primary" th:href="@{update/{id}(id = ${anime.id})}"> Atualizar </a> </td>
                    <td> <img width="20" height="20" src="@{'/images/' + ${anime.nome} + .png}" alt=""> </td>
                </tr>
            </tbody>
        </table>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    </body>
</html>